/* src/styles/Contact.css */
.contact-page {
    padding: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
    
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .map-container {
    width: 100%;
    /* max-width: 600px; */
    margin: 0;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    margin-bottom: 20px;
   
  }
  
  .map-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
   }
  